body {
	margin: 0px;
	/*margin-top: 20px;*/
	/*margin-bottom: 20px;*/
	padding: 0px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	letter-spacing: .03em;
	font-weight: 100;
	/*font-size: 16px;*/
	/*background-color: #ECF0F1;*/
	/*background-image: url('/img/50.png');*/
	/*background-color: hsla(210, 29%, 29%, .5);*/
	background-position: center;
	background-size: cover;
	color: #365A68;
	height: 100%;

}

h1, h2, h3, h4 {
	margin-top: 0px;
	font-weight: 100;
}

footer {
	text-align: center;
	margin-top: 40px;
	font-size: 13px;
	background-color: hsla(210, 29%, 29%, .5);
	color: white;
	padding: 20px 0px;
	position: relative;
	bottom: 0;
	width: 100%;
}

/* ------------ NAV ------------ */
.nav h1 {
	float: left;
	/*margin-left: 5%;*/
	/*background-color: #365A68;*/
	color: white;
	padding: 10px inherit;
	text-align: center;
	margin-bottom: 0px;
	width: 30%;
}

.nav p {
	float: right;
	font-size: 20px;
}

.right-nav {
	text-align: right;
	padding: 0px;
}

.logout {
	padding: 2px 3px 0px 5px;
	background-color: hsla(360, 100%, 100%, 0);
	margin-right: 0px;
	margin-left: 5px;
}

.logout:hover {
	background-color: hsla(210, 29%, 29%, .5);
	color: white;
}

/* ---------------- SIDEBAR ---------------- */
#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#365A68;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
.navbar {
	margin-bottom: 0px;
}
#main {
  height:100%;
  overflow:auto;
  padding: 20px;
  background-color: #F2F2F2;
}

/* * off Canvas sidebar */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


/* LOGIN */
.login {
	text-align: center;
}
.username {
	display: inline-block;
	height: 30px;
	color: black;
}


/* SIDEBAR */
.sidebar {
	width: 30%;
	display: inline;
	text-align: center;
	background-color: #365A68;
	padding: 0px;
	height: 100%;
}

.big-submit {
	/*border-radius: 50%;*/
	border: 1px solid hsla(210, 29%, 29%, .1);
	background-color: hsla(210, 29%, 29%, .5);
	width: 100%;
	padding: 15px inherit;
	/*height: 150px;*/
	color: white;
	/*font-size: 18px;*/
}

.side-btn {
	background-color: hsla(360, 100%, 100%, .2);
	border-radius: 0;
	width: 100%;
	/*margin-top: 10px;*/
	padding: 10px 30px;
	color: #22313F;
	text-transform: uppercase;
	font-size: 12px;
}
.side-btn:hover {
	background-color: hsla(360, 100%, 100%, .5);
}

label {
	margin-top: 10px;
}

.big-submit:hover {
	background-color: #22313F;
}

.calendar {
}

/* MIDDLE DEFAULT */
.main-right {
	width: 68%;
	display: inline;
	/*border: 1px solid grey;*/
	padding: 20px;
	background-color: #F2F2F2;
}


/* Stats  */
.statsNav button {
	float: right;
	margin-right: 10px;
}

.card {
	/*background-color: hsla(360, 100%, 100%, .3);*/
	background-color: white;
	margin-bottom: 25px;
	color: hsl(210, 29%, 29%);
	max-width: 400px;
	/*padding: 15px 0px 5px 15px;*/
}

.cardTop {
	background-color: #365A68;
	width: 100%;
	color: white;
	padding: 0px;
	height: 26px;
}

.section {
	float: left;
	padding: 3px 8px;
}

.sectionR {
	float: right;
}

.cardTop p, .cardTop button {
	display: inline;
}

.update-btn {
	float: right;
}

.cardMain {
	padding: 2px 10px;
}

.num {
	font-size: 45px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.numLabel {
	font-size: 15px;
	margin-top: 0px;
	padding-top: 0px;
}


.cardSymptoms i, .cardConditions i, .cardTreatment i {
	margin-left: 10px;
	color: hsla(197, 32%, 31%, .1);
}

.cardSymptoms, .cardTreatment, .cardConditions {
	padding: 9px 5px 1px 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}

.card-btn {
	/*display: block;*/
	/*margin-bottom: 5px;*/
	margin: 0px;
	font-size: 12px;
	padding: 3px 7px;
	background-color: hsla(360, 100%, 100%, .5);
	border-radius: 0;
	float: right;
}

.change-buttons {
	text-align: right;
}


.card-btn:hover {
	background-color: hsl(360, 100%, 100%);
}


/*  ------- COLORS -------  */
.color2 {
	background-color: hsla(197, 32%, 31%, .2);
}

.color25 {
	background-color: hsla(197, 32%, 31%, .25);
}

.color3 {
	background-color: hsla(197, 32%, 31%, .3);
}

.color4 {
	background-color: hsla(197, 32%, 31%, .4);
}

.color5 {
	background-color: hsla(197, 32%, 31%, .5);
}

.color6 {
	background-color: hsla(197, 32%, 31%, .6);
}

.color7 {
	background-color: hsla(197, 32%, 31%, .7);
}

.color8 {
	background-color: hsla(197, 32%, 31%, .8);
}

.color9 {
	background-color: hsla(197, 32%, 31%, .9);
}

.primary {
	background-color: #365A68;
}



/* ------- OVERRIDES -------- */
.orange{
	background-color: #DDB260;	
}

.whiteText {
	color: white;
}

.active {
	color: #365A68 !important;
	/*color: red;*/
}