<div>
	<h3>Log Migraine {{ timestamp | date: short }}</h3>
			<p>Complete as much as you can to begin tracking your migraine.</p>
			<!-- <p>Here: {{ logTest }}</p> -->
			<form>
				<label>Duration (hours): <input class="form-control" ng-model="entry.duration" autofocus/></label><br />
				<label>Location: <input class="form-control" ng-model="entry.location"/></label><br />
				<label>Symptoms: </label><br />
					<!-- <div class="checkbox"> -->
						<input type="checkbox" value="Light Sensitivity"/> Light Sensitivity<br />
						<input type="checkbox" value="Noise Sensitivity"/> Noise Sensitivity<br />
						<input type="checkbox" value="Motion Sensitivity"/> Motion Sensitivity<br />
						<input type="checkbox" value="Nausea"/> Nausea<br />
						<input type="checkbox" value="Vomiting"/> Vomiting<br />
						<!-- <input type="checkbox" value="Cramps"/> Cramps<br /> -->
						<input type="checkbox" value="Aura"/> Aura<br />
						<!-- </div> -->
				<br />
				<label>Pain Level:</label> 
					<p>1 3 5 8 13 21</p>
				  <input type="range" data-show-value="true" data-hightlight="true" name="level" id="level" value="3" min="1" max="21">
				<br />
				<label>Treatment:</label><br />
					<input type="checkbox" value="Drugs" ng-checked="entry.drugs"/> Drugs<br />
					<input type="checkbox" value="Sleep" ng-checked="entry.sleep"/> Sleep<br />
					<input type="checkbox" value="Darkness" ng-model="entry.dark"/> Darkness<br />
				<br />
				<label>Conditions:</label><br />
					<input type="checkbox" value="Weather Change" ng-model="entry.weather"/> Weather Change<br />
					<input type="checkbox" value="Stress" ng-model="entry.stress"/> Stress<br />
					<input type="checkbox" value="Exercise" ng-model="entry.exercise"/> Exercise<br />
					<input type="checkbox" value="Screens" ng-model="entry.screens"/> 
					Screens<br />
					<input type="checkbox" value="Crying" ng-model="entry.crying"/> Crying<br />
					<input type="checkbox" value="Period" ng-model="entry.period"/> Period<br />
				<br />
				<button type="submit" class="btn btn-default" ng-click="updateLog(entry)">Log</button>
			</form>
</div>