<div>
	<p>Recent Migraines</p>
	<button class="btn btn-default">Stats</button>
	<button class="btn btn-default">Totals</button>
	<button class="btn btn-default">Triggers</button>
	<br /><br />
	<div class=" card" ng-repeat="headache in migraines">
		<div class="row">
			<div class="col-xs-10">
				<p>Details = {{ headache.details }}</p>
				<p>Date: {{ headache.timestamp }}</p>
				<p>Duration: {{ headache.duration }}</p>
				<p>Duration: {{ headache.loca }}</p>
				<p>Symptoms: 
					<i class="fa fa-sun-o"></i>
					<i class="fa fa-volume"></i>
					<i class="fa fa-train"></i>
					<i class="fa fa-meh-o"></i>
					<i class="fa fa-user-md"></i>
					<i class="fa fa-lightbulb-o"></i>
				</p>
				<p>Treatment:
					<i class="fa fa-medkit"></i>
					<i class="fa fa-bed"></i>
					<i class="fa fa-moon-o"></i>
				</p>
				<p>Conditions:
					<i class="fa fa-cloud"></i>
					<i class="fa fa-frown-o"></i>
					<i class="fa fa-car"></i>
					<i class="fa fa-"></i>
					<i class="fa fa-desktop"></i>
					<i class="fa fa-tint"></i>
					<i class="fa fa-venus"></i>
				</p>
			</div>
			<div class="col-xs-2 change-buttons">
				<button class="btn card-btn update-btn" ng-click="update(headache.$id)"><i class="fa fa-pencil"></i></button>
				
				<button class="btn card-btn delete-btn" ng-click="remove(headache)"><i class="fa fa-minus-circle"></i></button>
			</div>
		</div>
	</div>
</div>